.goal-chart {
  .recharts {
    &-responsive-container {
      position: relative;
    }

    &-radial-bar-sectors {
      @media (max-width: 1439px) {
        width: 100px !important;
        height: 100px !important;
      }
    }

    &-radialchart-title {
      position: absolute;
      top: 15px;
      left: 20px;
      font-size: 15px;
      font-weight: 500;
      color: #20253a;

      @media (max-width: 1439px) {
        top: 5px;
        left: 10px;
        font-size: 14px;
      }
    }

    &-radialchart-description {
      position: absolute;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: #74798c;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 1439px) {
        font-size: 14px;
      }

      &-score {
        font-size: 26px;
        font-weight: 700;
        color: #282d30;

        @media (max-width: 1439px) {
          font-size: 22px;
        }
      }
    }
  }
}
