.side-navigation-bar {
  height: 100%;
  width: 117px;
  position: fixed;
  background-color: #020203;
  z-index: -1;
  top: 0;
  left: 0;
  text-align: center;

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item {
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 14px;
  }

  &__copyright {
    white-space: nowrap;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 85%;
    transform: rotate(-90deg) translateY(-85%);
  }
}
