.activity-chart {
  .recharts {
    &-responsive-container {
      position: relative;
      font-weight: 500;
      font-size: 15px;
    }

    &-barchart-title {
      position: absolute;
      top: 40px;
      left: 30px;
      font-size: 15px;
      font-weight: 500;
      color: #20253a;
    }

    &-legend-item {
      margin-right: 0 !important;
      margin-left: 30px;

      &-text {
        margin-left: 10px;
        color: #74798c !important;
      }
    }
  }
}
