.activity-chart {
  .recharts {
    &-responsive-container {
      position: relative;
    }

    &-barchart-title {
      position: absolute;
      top: 40px;
      left: 30px;
      font-size: 15px;
      font-weight: 500;
      color: #20253a;
    }

    &-barchart-tooltip {
      padding-inline: 5px;
      height: 63px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: #e60000;

      &-value {
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        color: #ffffff;
      }
    }

    &-legend-item {
      margin-right: 0 !important;
      margin-left: 30px;

      &-text {
        font-weight: 500;
        font-size: 15px;
        margin-left: 10px;
        color: #74798c !important;
      }
    }
  }
}
