.header {
  display: flex;
  background-color: #020203;

  &__logo {
    height: 61px;
    margin: 18px 28px;
  }

  &__navigation {
    width: 100%;
    margin-inline: 101px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
      list-style-type: none;
      color: #ffffff;
      font-weight: 500;
      font-size: 24px;

      &-navlink {
        text-decoration: none;
        color: #ffffff;

        &:visited {
          color: inherit;
        }

        &:hover {
          color: #ff0101;
        }
      }
    }
  }
}

//active NavLink class
.active {
  text-decoration: underline;
}
