.dashboard {
  display: flex;
  flex-direction: column;
  margin-left: 117px;
  height: calc(100vh - 97px);
  padding-inline: 5%;
  padding-block: 6%;

  @media (max-width: 1439px) {
    padding-block: 2%;
  }

  &__greeting {
    font-weight: 500;
    font-size: 48px;
  }

  &__user-first-name {
    color: #ff0101;
  }

  &__user-goal {
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 60px;

    @media (max-width: 1439px) {
      margin-block: 20px;
    }
  }

  &__data-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__charts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 74%;
  }

  &__lower-charts-container {
    display: flex;
    justify-content: space-between;
    height: 42%;
  }

  &__macronutrient-container {
    width: 22.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
